---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { CV } from "@consts";
import CVCard from "@components/CVCard.astro";

// TO Modify
const works = [
  {company:"WeSolveProblems", time: "", job_title: "Head tutor", location: "", description: ""},
  {company:"University of Bath Skills Centre", time: "", job_title: "Senior MASH Peer Tutor", location: "", description: ""},
  {company:"University of Bath", time: "", job_title: "Teaching Assistant", location: "", description: ""},
]
const educations = [
  {school:"University Of Bath", time: "2022-Present", job_title: "PhD candidate", location: "Bath, UK", description: "Provisional Thesis Title: Grassmannian Cluster Categories"},
  {school:"University Of Bath", time: "2018-2022", job_title: "MMath in Mathematics", location: "Bath, UK", description: "First Class Honours"},
]
---

<Layout title={CV.TITLE} description={CV.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-2 md:space-y-10">
        <div class="animate font-semibold text-black dark:text-white">
          Work Experience
        </div>
        <ul class="animate not-prose flex flex-col gap-4">
          {works.map((work) => (
              <CVCard institution={work.company} time={work.time} job_title={work.job_title} location={work.location} description={work.description} />)
          )}
        </ul>
        <div class="animate font-semibold text-black dark:text-white">
          Education
        </div>
        <ul class="animate not-prose flex flex-col gap-4">
          {educations.map((education) => (
            <CVCard institution={education.school} time={education.time} job_title={education.job_title} location={education.location} description={education.description} />)
        )}
        </ul>
      </div>
    </aside>
  </Container>
</Layout>
