---
title: Japan
layout: main

filterTags:
        - maths
    
---

<h2> Japan School & Conference Blog</h2>

<p> From the 18th-30th November I will be at the OIST in Okinawa, Japan for the 
    school and conference:  </p>
    <h3 style="text-align:center; margin: 0; max-width: 80%"><a href="https://sites.google.com/view/autumn-oist-school-conference/home"
    >New developments in representation theory of algebras: <br>
        Algebraic, combinatorial and geometric aspects</a></h3>

<p> I'll be attempting to blog the trip, talking about both the maths I learn
    and the experience of being in Japan for the first time. Posts I make should
    populate a list below.

<!-- DISPLAY WHITELIST FILTERS -->
<div id="japan-tag-filters">
        {% for tag in filterTags %}
                <label class="japan-filter-label">
                        <input type="checkbox" class="japan-filter-checkboxes" value="{{ tag }}" >
                        {% if tag == "maths" %}
                                MATHS KILL SWITCH
                        {% else %}
                                {{ tag }}
                        {% endif %}
                </label>
	{% endfor %}


</div>

<!-- DISPLAY POSTS IN CHRONOLOGICAL ORDER -->
{%  assign posts = collections.japan | reverse %}
{% for post in posts %}
        <div class="japan-post-container" data-tags={{ post.data.tags | join: "," }}>
                <div style="display:flex; justify-content: center; flex-wrap: wrap">
        <p class="japan-post-link" >
        
        <a href="{{ post.url }}">{{ post.data.title }}</a>  <b>{{ post.date | date: "%d-%m-%y" }}</b>
        </p></div>
    <p class="taglist"> 
    	{% for tag in post.data.tags %}
		    {% if tag != "posts" and tag != "japan" %}
                    <a href="/tags/{{tag}}">~{{ tag }}~</a> 
		    {% endif %}
	    {% endfor %}
    </p>
    <hr>
        </div>
{% endfor %}

<h2> Changelog: </h2>

<ul> 
    <li>Okay I've implemented a rudimentary whitelist in that if a post has atleast one of the selected tags then it will appear. I spent way too long doing it so please use it at least once.
    <li> Rather than have a bunch of separate small posts about the food I ate each day I've
            instead created a 'megathread' (megapost?) that I will periodically update.
            <li> Not that it really matters, but times and dates are all going to be in whatever my local timezone is (which for nearly all posts is going to be GMT+9 for Okinawa)
</ul>

<h2> Todo: </h2>

<ul>
        <li> Rework tagging system and filters
                <li> Make CSS pretty and consistent and manageable
        <li> Liam has never hated anything more than this colour scheme so I'm gonna change it
</ul>

<script>
        const tagFilters = document.querySelectorAll(".japan-filter-checkboxes");
        const posts = document.querySelectorAll(".japan-post-container");

        tagFilters.forEach(filter => {
                filter.addEventListener('change', () => {
                        const activeTags = Array.from(tagFilters)
                                .filter(input => input.checked)
                                .map(input => input.value);
                       console.log(activeTags);
                        posts.forEach( post => {
                                
                                const postTags = post.dataset.tags.split(",");
                                const matches = activeTags.some(tag => postTags.includes(tag));
                                console.log(postTags);
                                console.log(matches);
                                post.style.display = matches ? "none" : "";
                });
                });
        });




</script>


